
<div class="container">
  <div class="details">
     <form [formGroup]="signUpForm" (ngSubmit)="onSubmitDetaials()">
    <h2>Sign-Up</h2>
     <div class="username">
        <label for="nameId">Name</label>
        <input type="text" id="nameId" placeholder="Please enter your Name" formControlName="name">
        <div class="validation" *ngIf="signUpForm.get('name')?.touched && !signUpForm.get('name')?.valid">Please name is not valid</div>
    </div>
     <div class="username">
        <label for="EmailId">Email</label>
        <input type="email" id="EmailId" placeholder="Please enter your email" formControlName="email">
        <div class="validation" *ngIf="signUpForm.get('email')?.touched && !signUpForm.get('email')?.valid">Please email is not valid</div>
    </div>
    <div class="username">
        <label for="passwordId">Password</label>
        <input type="password" id="passwordId" placeholder="Please enter your Password" formControlName="password">
        <div class="validation" *ngIf="signUpForm.get('password')?.touched && !signUpForm.get('password')?.valid">Please password is not valid</div>
    </div>
    <div class="username">
        <label for="ConfirmPasswordId">Confirm Password</label>
        <input type="password" id="ConfirmPasswordId" placeholder="Please Confirm your Password" formControlName="ConfirmPassword">
        <div class="validation" *ngIf="signUpForm.get('ConfirmPassword')?.touched && !signUpForm.get('ConfirmPassword')?.valid">password does'nt match</div>
        <div class="validation" *ngIf="signUpForm.get('passwordsDontMatch')?.touched && !signUpForm.get('passwordsDontMatch')?.valid">password does'nt match</div>
    </div>
        <button class="submit" type="submit" [disabled]="!signUpForm.valid">Sign-up</button>
        <div class="user">
         <p class="para">Already have an account?</p>
         <button class="route" (click)="router()">Login</button>

    </div>
   </form>

  </div>

</div>

