
<div class="welcome-image">
  <div class="image-container">
    <div class="section-one">
      <img src="../../assets/airplane-taxiing-at-dca.jpg" alt="">
    </div>
    <div class="section-two">
   <div class="section-height">

     <h2>Welcome to aircraft booking App</h2>
    <div class="barns-anchor">
       <a class="login access" [routerLink]="['/login']">Login</a>
       <a class="Register" [routerLink]="['/register']">Register</a>
    </div>
   <!-- <p class="destination">
    check travel state and destination, have a solo flight
   </p> -->
   </div>
  </div>
  </div>
</div>
